.title {
    color: green;
}

.subhead {
    color: darkolivegreen;
}

.correctAnswer {
    color: springgreen;
}

.incorrectAnswer {
    color: red;
}

td {
    height: 50px;
    vertical-align: center;
    text-align: left;
}

.entry {
    width: 430px;
}